a {
    text-decoration: none;
    color: yellow;
}
.heading.index-title{
    margin: 10px auto;
    margin-bottom: 50px;

}
.heading {
    color: yellow;
    background-color: grey;
    font-weight: bold;
    font-family: "Copperplate", monospace;
    text-align: center;
}


.list-text {
    background-color: steelblue;
    text-align: center;
    margin: 50px;
}
.bruschetta {
    color: green;
    margin: 8px auto;
    text-align: center;
    font-size: 20px;
    background-color: gray;
    margin: 10px auto;
    padding: 10px;
    border: 15px;
    flex-grow: 1;
    flex-basis: 160px;
}
.meatball {
    color: brown;
    margin: 8px auto;
    text-align: center;
    font-size: 20px;
    background-color: gray;
    margin: 10px auto;
    padding: 10px;
    border: 15px;
    flex-grow: 1;
    flex-basis: 200px;
}
.carbonara {
    color: coral;
    margin: 8px auto;
    text-align: center;
    font-size: 20px;
    background-color: gray;
    margin: 10px auto;
    padding: 10px;
    border: 15px;
    flex-grow: 1;
    flex-basis: 160px;
}
.meatball-recipe {
    color: aqua;
}
.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%; 
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}
.flex-container button {
    background: grey;
    border: 6px grey;
    height: 100px;
    flex: 1;
}